{% extends "base_generic.html" %}
{% comment %}
This template displays all the current events in Official_1_Events table.
{% endcomment %}
{% load static %}
<head>
   {% comment %} <link rel='icon' href='{% static 'BrawlNotes/favicongood.ico' %}' type='image/x-icon' sizes="16x16" />{% endcomment %}

    <style>
    ol {
        {% comment %}column-count: 1;{% endcomment %}
        column-rule:double 2px #040404;
        list-style-type: none;
    }
</style>
</head>
{%  block title %}List of Events{%  endblock %}

{% block titleh1 %}List of Events <hr style="background-color: #ffefef;  height: 1px;"> {% endblock %}
{% block content %}
<main role = "main">
    <div class="container">
        <div class="row">
            {%  if event_list %}
                <ol>
                {% for event in event_list %}
                <li ><b>{{event.EventName }}</b></li>
                    <ul>
                        {% if event.EventName == "Winter Championship"%}
                        <li><a href="https://smash.gg/tournament/north-america-winter-championship-2021/event/brawlhalla-championship-1v1/standings">Smashgg Link</a></li>
                        {% elif event.EventName == "Spring Championship"%}
                        <li><a href="https://smash.gg/tournament/north-america-spring-championship-2021/event/brawlhalla-championship-1v1/standings">Smashgg Link</a></li>
                        {% elif event.EventName == "Parsec Invitational"%}
                        <li><a href="https://smash.gg/tournament/north-america-parsec-invitational/event/brawlhalla-championship-1v1/standings">Smashgg Link</a></li>
                        {% elif event.EventName == "Summer Championship"%}
                        <li><a href="https://smash.gg/tournament/north-america-summer-championship-2021/event/brawlhalla-championship-1v1/standings">Smashgg Link</a></li>
                        {% elif event.EventName == "Mammoth Invitational"%}
                        <li><a href="https://smash.gg/tournament/north-america-mammoth-invitational/event/brawlhalla-championship-1v1/standings">Smashgg Link</a></li>
                        {% elif event.EventName == "Autumn Championship"%}
                        <li><a href="https://smash.gg/tournament/north-america-autumn-championship-2021/event/brawlhalla-championship-1v1/standings">Smashgg Link</a></li>
                        {% endif %}
                        {% if event.Region == "NA" %}
                        <li>Region: <img src="https://cdn.discordapp.com/attachments/410715582955126784/914640533983469588/flag.png" align="middle" ></li>
                        {%endif%}
                        <li>Year: {{ event.Year }}</li>
                    </ul>
                    <br>
            {%  endfor %}
            </ol>
        {% else %}
            <p> No event is available</p>
        {% endif %}
        </div>
    </div>
</main>
{%  endblock %}






