{% extends "base_generic.html" %}

{% block content %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">BrawlNotes</h1>
            <p>A statistic database system of the BrawlHalla players.</p>
            {% comment %}<p> <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>{% endcomment %}
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Events</h2>
                <p>Different BrawlHalla championships conducted in 2021</p>
                <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/BrawlNotes/index-events/" target=" _blank" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Players</h2>
                <p>List of players who have competed in BrawlHalla games in 2021 </p>
                <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/BrawlNotes/index-players/ " target=" _blank"role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Placements</h2>
                <p> Information on placements of each players and filtering them</p>
                <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/BrawlNotes/search-placement/" target = "_blank" role="button">View details &raquo;</a></p>
            </div>
        </div>
        <hr>
    </div> <!-- /container -->
</main>
{% endblock %}
