{% extends "base_generic.html" %}

{% block content %}
<main role="main"  >
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-color: #8BDBE5;">
        <div class="container" >
            <!-- <img src="https://cdn.discordapp.com/attachments/410715582955126784/914374466795085864/bnoteslogo.png"> -->
            <h1 class="display-1"><img src="https://cdn.discordapp.com/attachments/410715582955126784/914376601058312202/c98212b2-6ba6-42b8-b93f-166a8915a670.png"><b>Brawl<b>Notes</b></b></h1>
            <p align="center">A statistical database system for official Brawlhalla Esports events and professional players.</p>
            {% comment %}<p> <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>{% endcomment %}
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Events</h2>
                <p>Official Brawlhalla Esports events</p>
                <p><a class="btn btn-secondary" href="http://brawlnotes.herokuapp.com/BrawlNotes/index-events" target=" _blank" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Players</h2>
                <p>Official Brawlhalla Esports players </p>
                <p><a class="btn btn-secondary" href="http://brawlnotes.herokuapp.com/BrawlNotes/index-players" target=" _blank"role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Placements</h2>
                <p>Player placements in official Brawlhalla Esports events</p>
                <p><a class="btn btn-secondary" href="http://brawlnotes.herokuapp.com/BrawlNotes/search-placement" target = "_blank" role="button">View details &raquo;</a></p>
            </div>
        </div>
        <hr>
    </div> <!-- /container -->
</main>
{% endblock %}
