{% extends "base_generic.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block title %} Meet our team {% endblock %}

{% block content %}
<div class="container mt-40">
    <div class="row mt-30">
        <div class="col-md-4 col-sm-4">
            <div class="box15">
                <img src="https://cdn.pixabay.com/photo/2018/06/26/11/35/letter-3499237_1280.png" alt="" height="300" width="300">
                <div class="box-content">
                    <h3 class="title">Alex LeBlanc</h3>
                    <ul class="icon">
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-gitlab"></i></a></li>
                    </ul>
                </div>
            </div>
            <span class="post">Project Lead</span>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="box15">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5bskEIGzEJumAuziiWKQCVnMpVeq6b6D7A&usqp=CAU" alt="" height="300" width="300">
                <div class="box-content">
                    <h3 class="title">Michael Rahaim</h3>
                    <ul class="icon">
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-gitlab"></i></a></li>
                    </ul>
                </div>
            </div>
            <span class="post">Tech Lead Developer</span>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box15">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROjg5CKUhw5D-eHTDGMh286KAYWAIyOCLlaw&usqp=CAU" alt="">
                <div class="box-content">
                    <h3 class="title">Ruby Shrestha</h3>
                    <ul class="icon">
                        <li><a href="https://www.linkedin.com/in/rubyshrestha1/" target=" "_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://gitlab.com/rubyshrestha", target="_blank"><i class="fab fa-gitlab"></i></a></li>
                    </ul>
                </div>
            </div>
            <span class="post">Product Lead Developer</span>
        </div>
    </div>
</div>
{% endblock %}
